
.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem;
    margin-top: -2rem;
    /* border: 1px solid red; */
  }

  .search-section {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    flex: 2;
    max-width: 940px;
    width: 100%; 
    margin-left: 2rem;
  }

  .search-section input {
    width: 100%;
    padding: 0.75rem;
    margin-left: -2rem;
    font-size: 1rem;
    border: 2px solid #c2c2c2;
    border-radius: 0.5rem;
    background-color: #fff;
    font-family:'Source Sans Pro', sans-serif;
  }
  
  .search-section input::placeholder {
    color: #B0BEC5; 
    font-family: 'Source Sans Pro', sans-serif;
  }  

  #texto-de-entrada{
    width: 60rem;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 7rem;
    max-width: 60rem; 
    max-height: 90px;
    color: #388E3C;
    font-size: 1.7rem;
    font-family: 'Courier New', Courier, monospace; 
    overflow: hidden;
    opacity: 0;
  transition: opacity 1s ease-in-out;
  }

  #texto-de-entrada.appear {
    opacity: 1;
  }
  
  #texto-de-entrada.disappear {
    opacity: 0;
  }

  .side-section h3{
    /* margin: 0; */
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  

@media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      margin-bottom: 2rem;
      margin-top: 0;
    } 

    .search-section {
        flex-direction: column;
      }

      .search-section input {
        width: 70%;
      }

      .search-section input::placeholder {
        font-size: 0.7rem;
        padding-left: -90px;
      }

      #searchButton{
        width: 20%;
        height: 40px;
        font-size: 0.8rem
      }

      #texto-de-entrada{
        width: 25rem;
        display: flex;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        color: #388E3C;
        font-size: 0.9rem;
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

}  